<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Personajes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card *ngFor="let item of character.resultado">
        <img src="{{item.image_url}}" />
        <ion-card-header>
            <ion-card-subtitle>{{item.role}}</ion-card-subtitle>
            <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-list-header>
                Voz
                </ion-list-header>
                <ion-item *ngFor="let voces of item.voice_actors">
                    <ion-avatar slot="start">
                        <img src="{{voces.image_url}}">
                    </ion-avatar>
                    <ion-label>
                        <h3>{{voces.name}}</h3>
                        <p>{{voces.language}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
            <a href="{{item.url}}" style="text-decoration:none;color:#000">Leer más...></a>
        </ion-card-content>
    </ion-card>

</ion-content>